body {
    background-color: rgb(181, 128, 88);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

div {
    margin: 29px 10px;
}

label {
    margin: 20px;
}

button {
    background-color: blanchedalmond;
    width: 330px;
    font-size: 15px;
    border-radius: 20px;
}

input {
    background-color: burlywood;
}